body{
    background-color: black;
    color:#fff;
    font-family: "Sofia", sans-serif;
    
}
h1{
    text-align: center;
    text-shadow: 10px 5px 5px rgb(216, 9, 243);
}
img{
    margin: auto;
}
h3{
    font-family:monospace;
}
ul {
    list-style-type: square;
    color: rgb(216, 9, 243);
}
a {
    color: #fff;
}
